# PV Power Generation Database (MariaDB)
PV_DB_HOST=your_host
PV_DB_USER=your_user
PV_DB_PASSWORD=your_password
PV_DB_NAME=PVPowerGeneration
PV_DB_PORT=12360

# ENS Datacenter Database (MySQL)
ENS_DB_HOST=your_host
ENS_DB_PORT=3306
ENS_DB_USER=your_user
ENS_DB_PASSWORD=your_password
ENS_DB_NAME=ens_datacenter
