all_train_data/717800001/10/training_history
all_train_data/717800001/16/training_history
all_train_data/717800001/10/train_loss_plot
all_train_data/717800001/16/train_loss_plot

all_train_data/717800002/10/training_history
all_train_data/717800002/16/training_history
all_train_data/717800002/10/train_loss_plot
all_train_data/717800002/16/train_loss_plot

all_train_data/717800004/10/training_history
all_train_data/717800004/16/training_history
all_train_data/717800004/10/train_loss_plot
all_train_data/717800004/16/train_loss_plot

all_train_data/717800005/10/training_history
all_train_data/717800005/16/training_history
all_train_data/717800005/10/train_loss_plot
all_train_data/717800005/16/train_loss_plot