<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/client.css') }}"
    />
    <div style="position: absolute; top: 15px; right: 100px; text-align: right">
      <p style="display: inline; line-height: 30px">{{ username }}님 <br /></p>
      <p style="display: inline">Login :</p>
    </div>
    <div style="position: absolute; top: 20px; right: 1%">
      <a href="/powerpred"
        ><img
          src="static/images/img_usr.jpg"
          style="width: 40px; margin-right: 10px"
          alt="UserInfo"
        />
      </a>
      <a href="/auth/logout">
        <img
          src="static/images/img_logout.jpg"
          style="width: 30px"
          alt="logout"
        />
      </a>
    </div>
    <title>ENS Monitoring Center</title>
  </head>
  <body>
    <div class="common-header">
      <a href="/client-menu/{{sCode}}" class="common-title"
        >예측대비 발전현황</a
      >
    </div>
    <main class="watch-2" id="content">
      <div class="container">
        <div class="table-wrap">
          <table class="table">
            <caption>
              {{ dates }} ({{ dayWk }}) {{ hrs }}시 {{ mnt }}분 현재 :
              평균오차율 {{ eRate }} %
              <div class="form-group">
                <select class="form-control" id="model">
                  <option value="1" selected="selected">LSTM</option>
                  <option value="2">BiLSTM</option>
                  <option value="3">RNN</option>
                  <option value="4">Conv_LSTM</option>
                  <option value="5">BiLSTM_SingleDense</option>
                  <option value="6">BiLSTM_MultiDense</option>
                </select>
                (kWh)
              </div>
            </caption>
            <thead>
              <tr>
                <th>시간</th>
                <th>05시</th>
                <th>06시</th>
                <th>07시</th>
                <th>08시</th>
                <th>09시</th>
                <th>10시</th>
                <th>11시</th>
                <th>
                  12시
                  <!-- <span>V</span> -->
                </th>
                <th>13시</th>
                <th>14시</th>
                <th>15시</th>
                <th>16시</th>
                <th>17시</th>
                <th>18시</th>
                <th>19시</th>
                <th>총발전량</th>
                <th>오차율</th>
              </tr>
            </thead>
            <tbody id="powerData"></tbody>
          </table>
        </div>
        <div class="graph">
          <figure>
            <!-- <img src="/assets/images/img_graph06.png" alt="" /> -->
            <canvas id="myChart"></canvas>
          </figure>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
      var predictionPower = [],
        truePower = [];

      async function plotChart() {
        await getPlotData();

        var context = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(context, {
          type: "bar", // 차트의 형태
          data: {
            // 차트에 들어갈 데이터
            labels: [
              //x 축
              "05시",
              "06시",
              "07시",
              "08시",
              "09시",
              "10시",
              "11시",
              "12시",
              "13시",
              "14시",
              "15시",
              "16시",
              "17시",
              "18시",
              "19시",
            ],
            datasets: [
              {
                label: "실측",
                fill: false,
                data: predictionPower,
                backgroundColor: ["rgb(41, 128, 185)"],
                borderWidth: 1,
              },
              {
                label: "예측",
                fill: false,
                data: truePower,
                backgroundColor: ["rgb(26, 188, 156)"],
                borderWidth: 1,
              },
            ],
          },
        });
      }

      // plotChart()

      var e = document.getElementById("model");
      // function onChange() {
      //     var value = e.value;
      //     var text = e.options[e.selectedIndex].text;
      //     console.log(value, text);
      //     var your_data = {'date' : '20230215',
      //                      'sitecode': '123456789',
      //                     'model': text}

      //     fetch(`${window.origin}/data/api/powerpred`, {
      //         method: "POST",
      //         credentials: "include",
      //         body: JSON.stringify(your_data),
      //         cache: "no-cache",
      //         headers: new Headers({
      //         "content-type": "application/json"
      //         })
      //     })
      // }
      e.onchange = plotChart;
      plotChart();

      async function getPlotData() {
        const apiUrl = `${window.origin}/data/api/powerpred`;

        var value = e.value;
        var text = e.options[e.selectedIndex].text;
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        var dateNow = yyyy + mm + dd;
        console.log(value, dateNow, text);
        var your_data = {
          date: dateNow,
          sitecode: "123456789",
          model: text,
        };

        const response = await fetch(apiUrl, {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(your_data),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json",
          }),
        });
        const barChatData = await response.json();

        // const pred = barChatData.data.map((x) => x.employee_salary)
        console.log(barChatData.data);

        const obj = JSON.parse(barChatData.data);

        console.log(obj, obj.pred, obj.true);

        const table = document.getElementById("powerData");
        var counter = 0;
        var counter2 = 0;
        if (table.rows.length == 0) {
          let row = table.insertRow();
          Object.keys(obj.pred).forEach((element) => {
            // console.log(obj.pred[element]);
            let date = row.insertCell(counter);
            date.innerHTML = obj.pred[element];
            counter += 1;
          });
          let row2 = table.insertRow();
          Object.keys(obj.true).forEach((element2) => {
            // console.log(obj.true[element]);
            let date2 = row2.insertCell(counter2);
            date2.innerHTML = obj.true[element2];
            counter2 += 1;
          });
        } else {
          table.deleteRow(0);
          table.deleteRow(0);
          let row = table.insertRow();
          Object.keys(obj.pred).forEach((element) => {
            // console.log(obj.pred[element]);
            let date = row.insertCell(counter);
            date.innerHTML = obj.pred[element];
            counter += 1;
          });
          let row2 = table.insertRow();
          Object.keys(obj.true).forEach((element2) => {
            // console.log(obj.true[element]);
            let date2 = row2.insertCell(counter2);
            date2.innerHTML = obj.true[element2];
            counter2 += 1;
          });
        }

        // const age = barChatData.data.map((x) => x.employee_age)
        // const name = barChatData.data.map((x) => x.employee_name)

        // employeeSalaryData = salary
        // employeeAgeData = age
        // employeeLabel = name
      }
    </script>
  </body>
</html>
